<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bvlog</title>
    <link  href="C:\Users\ledes\Downloads\proyectos-personales\proyecto-bvlog\public\css\home.css" rel="stylesheet">
</head>

<body>

    <header name="encabezado">
        <div>
            <h1>Bvlog</h1>
        </div>
    </header>

    <main>
        <div>
            <form action="">
                <label for="diario"></label>
                <textarea name="diario" id="" cols="80" rows="10">escribe algo</textarea>

            </form>
        </div>

    </main>

    <footer>


    </footer>





</body>

</html>